<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>inicioSesionServlet</servlet-name>
        <servlet-class>Servlet.inicioSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarServlet</servlet-name>
        <servlet-class>Servlet.RegistrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesionServlet</servlet-name>
        <servlet-class>Servlet.IniciarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>Servlet.RegistrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVehiculoServlet</servlet-name>
        <servlet-class>Servlet.RegistrarVehiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GACETServlet</servlet-name>
        <servlet-class>Servlet.GACETServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCuentaServlet</servlet-name>
        <servlet-class>Servlet.ModificarCuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarVehiculoServlet</servlet-name>
        <servlet-class>Servlet.EditarVehiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfiguracionVehiculoServlet</servlet-name>
        <servlet-class>Servlet.ConfiguracionVehiculoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inicioSesionServlet</servlet-name>
        <url-pattern>/inicioSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarServlet</servlet-name>
        <url-pattern>/registrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesionServlet</servlet-name>
        <url-pattern>/IniciarSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/RegistrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVehiculoServlet</servlet-name>
        <url-pattern>/RegistrarVehiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GACETServlet</servlet-name>
        <url-pattern>/GACETServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCuentaServlet</servlet-name>
        <url-pattern>/ModificarCuentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarVehiculoServlet</servlet-name>
        <url-pattern>/EditarVehiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfiguracionVehiculoServlet</servlet-name>
        <url-pattern>/ConfiguracionVehiculoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
